// .spinWrapper {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   gap: 26px;
// }

.spinCard {
  display: flex;
  justify-content: center;
  align-items: center;
}
